spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    check-template-location: true
    cache: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1055793807837-1ep23m2lbrnluiv6u4lss8fd9qfh1c1s.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
          
    
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
         
  
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/springboot_pp
    username: root
    password: 1234
    hikari:
      auto-commit: false
      connection-test-query: select 1 from dual
      minimum-idle: 10
      maximum-pool-size: 50
      transaction-isolation: TRANSACTION_READ_COMMITTED
      pool-name: pool-tester
  
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true  
  
#mybatis
mybatis:
  mapper-locations : classpath:mapper/**/**.xml
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: null
