<!DOCTYPE html>
<html 
lang="kr"
xmlns:th="http:www.thymeleaf.org"
th:fragment="cssFragment">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:inline="css" th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/signUp.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/loginBar.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/findMatchInfo.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/community.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/boardCommon.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/findMemberBoard.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/detailCommon.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/communityDetail.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/findMemberBoardDetail.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/updateCommon.css}" rel="stylesheet" type="text/css">
    <link th:inline="css" th:href="@{/css/writeCommon.css}" rel="stylesheet" type="text/css">
</head>

<body>
    
</body>
</html>