    <div th:fragment="headerFragment" style="padding-left: 1vw;height: 6vh;display: flex;gap: 0.7vw;align-items: center;">
        <div>
          <a th:href="@{/}" style="color: #fff; font-size: 1.2vw;font-weight: 900;">DD.GG</a> 
        </div>
        <div>
           <a th:href="@{/community}" style="color: #565666;font-weight: 600;">자유게시판</a>
        </div>
        <div>   
           <a th:href="@{/findMemberBoard}" style="color: #565666;font-weight: 600">듀오매칭</a> 
        </div>  

    </div>