<!DOCTYPE html>
<html 
    lang="kr"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}"
    >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content"  class="mainBox">
        <div class="mainSearchBox">
            <form th:action="@{/riotMatchInfo}" method="get">
                <select name="region" id="region" class="mainSearchRegionSelect">
                    <option value="asia/kr">kr</option></select><input type="text" name="riotId" placeholder="플레이어이름+#태그라인" class="mainSearchInput" pattern="^(?=.*#).+$" title="#을 포함해야 합니다" required><input type="submit" value=".GG" class="mainSearchButton">
            </form>
        </div>  
        <div class="mainRotationChampionImg">
            <div th:each="rotationChampionName : ${rotationChampionsNames}" style="width: calc(100% / 10); padding: 4px; box-sizing: border-box;">
                <img th:src="@{'https://ddragon.leagueoflegends.com/cdn/15.8.1/img/champion/{rotationChampionName}.png'(rotationChampionName=${rotationChampionName})}" style="width: 100%; height: auto;">
            </div>
        </div>

        <script th:inline="javascript" th:if="${errorMsg}">
            alert([[${errorMsg}]]);
        </script>
    </div>
</body>
</html>