.communityCommentBox {
    width: 90%;
    margin-left: 1vw;
    margin-top: 0.1vh;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}

.communityCommentInfo {
    margin-top: 0.7vh;
}

.communityComment {
    margin-top: 2vh;
    margin-left: 0.4vw;
}

.toggleReplyForm {
    cursor: pointer;
    margin-top: 3vh;
    font-size: small;
}

.communityCommentButtons{
    margin-top: 3vh;
    font-size: small;
}

.communityReplyFormBox{
    display: none;
    margin-top: 0.5vh;
}

.replyCommentContent{
    all:unset;
    width: 35vw;
    height: 5vh;
    background-color: #c7c4c4;
    color: #000;
}

.replyCommentBtn{
    all:unset;
    cursor: pointer;
    background-color: #2f3336;
    width: 3vw;
    height: 5vh;
    text-align: center;
}