
#header 
        {
            background-color: #1C1C1F; 
            height: 10vh ; 
            width: 100vw;
        }

#loginbar
        {
            background-color: #1C1C1F; 
            min-height: 80vh; 
            width: 10vw;
            position: absolute;
            right: 0;
            z-index: 1;
        }
        
#content
        {
            min-height: 85vh;
            position:relative;
            background-color:#1C1C1F; min-height: 80vh;
        }

#footer
        {
            background-color: #1C1C1F; 
            height: 10vh; 
            width: 100vw;
        }


/*-----------------메인 화면 ---------------------*/
.mainBox {
        background-color: #1C1C1F;
}

.mainSearchBox{
        text-align: center;
        padding-top: 30vh;
 }

 .mainSearchRegionSelect {
        border-radius: 23px 0 0 23px;
        border: none;
        width: 7vw;
        height: 5vh;
        padding-left: 1vw;
        background-color: #31313C;
        outline: none;
        color: #7B7A8E;
        vertical-align: top;
 }

 .mainSearchInput {
        padding: 0;
        margin: 0;
        border: none;
        width: 20vw;
        height: 5vh;
        background-color: #31313C;
        outline: none;
        vertical-align: top;
 }

 .mainSearchButton {
        border-radius: 0 25px 25px 0;
        border: none;
        padding: 0;
        margin: 0;
        width: 4vw;
        height: 5vh;
        font-weight: bold;
        background-color: #31313C;
        color: #7B7A8E;
        vertical-align: top;
 }

 .mainRotationChampionImg{
        display: flex;
        flex-wrap: wrap;
        width: 50vw;
        margin: 5vh auto;
 }